@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins","Bebas Neue", sans-serif;
}
/*Creates background image*/
body {
    min-height: 100vh;
    background-color: #3a3a3a;
    background-size:cover;
    background-position: center;
}

.header {
    color: #e5cfb0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    left: 40px;
}

.header a:hover {
    transform: translateY(-2px);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: #e5cfb0;
    padding: 10px;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-right: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #e5cfb0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #e5cfb0;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #e5cfb0, #bdac95);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right{
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.contact-right img {
    width: 500px;
    border-radius: 50px;
}

@media (max-width:990px) {
    .contact-inputs{
        width: 80vw;
    }

    .contact-right {
        display: none;
    }

    .contact-container{
        flex-direction: column;
    }

    .header{
        position: relative;
        left: 0;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: wheat;
    z-index: 100;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: #e0e0e0;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{ transform: rotate(0turn);}
    to{ transform: rotate(1turn);}
}

@media (max-width:1374px) {
    .header{
        position: relative;
        left: 0;
    }
}